# App
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/ai_hub_db"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=change_me_to_a_random_secret_min_32_chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_me_to_another_random_secret_min_32
JWT_REFRESH_EXPIRES_IN=7d

# External APIs
OPENROUTER_API_KEY=
HUGGINGFACE_TOKEN=
